{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["plugin:vue/essential", "eslint:recommended"],
  "parserOptions": {
    "parser": "@babel/eslint-parser"
  },
  "rules": {
    "no-console": "warn",
    "no-debugger": "warn",
    "quotes": ["warn", "single", { "allowTemplateLiterals": true }],
    "template-curly-spacing": "error",
    "indent": [
      "warn",
      2,
      {
        "ignoredNodes": ["TemplateLiteral"],
        "SwitchCase": 1
      }
    ],
    "vue/multi-word-component-names": [
      "error",
      {
        "ignores": ["Error404"]
      }
    ],
    "semi": [2, "always"]
  }
}
